@{
    ViewData["Title"] = "Pagian principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a esta increible pagina</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">Una pagina donde encontraras tus juegos increibles</a>.</p>
</div>
